.navbar {
    background-color: white;
    height: 50px !important;
    max-height: 100px !important;
    margin: auto;
  }

.nav-link {
    color: rgb(28, 25, 25);
    font-weight: 600;
    float: left;
    text-align: center;
    font-size: 17px;
  }

.cytonn_logo {
    width: 130px;
    height: 35px;
    margin: auto;
    display: inline-block;
}  

a img{
    border: 0;
}

a {
    line-height: inherit;
}